.dashboard_layout {
  margin: 2rem 4rem;
}

.dashboard_graphs,
.dashboard_transactions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.income_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 20px;
}

.balance_layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_graphs {
  margin-bottom: 10px;
}
