.dashboard_layout {
  background: #f0f2f5;
  margin: 2rem 4rem;
}

.dashboard_graphs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.income_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_layout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
}

.balance_layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
