.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  background-color: #00c800;
  padding: 5px 10px;
  font-size: x-small;
  color: white;
  font-weight: 400;
  border-radius: 500px;
}
