.balance_container {
  background: white;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
}

.balance_header {
  padding: 30px 35px 10px 40px;
  width: 100%;
}

.earnings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 35px;
}

.earnings_card1 {
  border: 0.2px solid rgba(0, 0, 0, 0.1);
  padding: 5px 1rem;
  border-radius: 5px;
}

.divider {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 15px 0px;
}

.earnings_count {
  display: flex;
  align-items: center;
  font-size: calc(1.5vw + 0.1rem);
  font-weight: 700;
}

.balance {
  font-size: x-large;
  font-weight: 500;
}

.textColor {
  color: #969696;
  font-weight: 450;
  margin: 3px 0px;
}

.line_chart {
  margin-top: 4rem;
  height: 200px;
}
