/* ------------- Ant design custom styling ----------------- */

.anticon-right,
.anticon-left {
  display: inline-block;
  width: 60%;
  color: white;
  background: #0674e3;
  padding: 10px 20px;
}

.ant-menu-item {
  font-size: small;
}

.ant-menu-item:hover {
  color: black !important;
}

.ant-menu-item-selected,
.ant-menu-item-selected:hover {
  color: white !important;
  background: #0674e3 !important;
}

.ant-menu-submenu-active > div {
  color: white !important;
  background: #0674e3 !important;
}

.ant-menu-submenu-active > div > i {
  color: white !important;
  background: #0674e3 !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a {
  color: white !important;
}

.ant-menu-item-active {
  color: white !important;
}

.ant-menu {
  padding-left: 10px;
  padding-right: 5px;
}

/* -------------------------------------------------- */

.table-row-light {
  background-color: #ffffff;
}
.table-row-dark {
  background-color: #f0f2f5;
}

.dashboard {
  padding: 20px 16% 0px 10%;
  background: #f0f2f5;
}

.transaction-wrapper {
  background: white;
}

.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  border: none !important;
}

.progress {
  background-color: rgb(62, 122, 235);
  height: 10px;
  border-radius: 1rem;
  transition: 1s ease;
  transition-delay: 0.5s;
}

.progress-div {
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
}

.income-dollar {
  font-size: calc(2vw + 0.1rem);
}

.balance-head {
  font-size: calc(1vw + 0.5rem);
}

.w-100 {
  width: 100%;
}

.total-income-wrapper {
  background: white;
  padding: 10px;
  border-radius: 3px;
}

.box-shadow {
  box-shadow: 0px 27px 33px -18px #fefefe;
}

.badge-text {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: 500;
}

.h-100 {
  height: 100%;
}

.header-wrapper {
  display: block;
}

.table-main {
  min-width: 400px;
  overflow: scroll;
}

.ant-tabs-nav {
  margin: 0 !important;
}

/* ----------------------- Responsiveness ------------------------ */

@media only screen and (max-width: 768px) {
  .vanish-on-mobile {
    display: none !important;
  }

  .ant-layout-sider {
    position: fixed;
    height: 100%;
    z-index: 1000;
  }
  .ant-layout-sider-zero-width-trigger {
    top: 0px;
  }
  .ant-layout .site-layout {
    margin-top: 42px;
  }
  .logo-collapsed {
    font-size: calc(1vw + 0.5rem);
    font-weight: 500;
  }
  .balance-head {
    font-size: calc(3vw + 0.2rem);
  }
  .header-wrapper {
    display: none;
  }
  .dashboard {
    padding: 20px 2px;
    background: #f0f2f5;
  }
  .site-layout-background {
    padding: 0px !important;
  }
  .income-dollar {
    font-size: calc(2vw + 1rem);
  }

  .logo {
    font-size: calc(2vw + 2rem);
    font-weight: 500;
  }
}

.transaction-wrapper {
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
  .dashboard {
    padding: 20px 2px;
  }
  .logo {
    font-size: calc(1.5vw + 0.6rem);
    font-weight: 500;
  }
}

@media only screen and (max-width: 1300px) {
  .balance-wrapper {
    margin: 2px !important;
  }
  .ant-btn {
    padding: 5px !important;
  }
  .recent-transaction {
    font-size: calc(2vw + 1rem) !important;
  }
}

.loader {
  height: 100vh;
  background: #000000;
}

.toggle {
  justify-content: center;
  margin-top: 5px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-tabs-top {
  width: 100% !important;
}
