/* ------------- Ant design custom styling ----------------- */

.anticon-right,
.anticon-left {
  display: inline-block;
  width: 60%;
  color: white;
  background: #0674e3;
  padding: 10px 20px;
}

.ant-menu-item {
  font-size: small;
}

.ant-menu-item:hover {
  color: black !important;
}

.ant-menu-item-selected,
.ant-menu-item-selected:hover {
  color: white !important;
  background: #0674e3 !important;
}

.ant-menu-submenu-active > div {
  color: white !important;
  background: #0674e3 !important;
}

.ant-menu-submenu-active > div > i {
  color: white !important;
  background: #0674e3 !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a {
  color: white !important;
}

.ant-menu-item-active {
  color: white !important;
}

.ant-menu {
  padding-left: 10px;
  padding-right: 5px;
}

.ant-tabs-top {
  width: 100% !important;
}

.site-layout {
  display: flex;
  justify-content: center;
}

/* ----------------------- Responsiveness ------------------------ */

@media only screen and (max-width: 768px) {
  .vanish-on-mobile {
    display: none !important;
  }

  .ant-layout-sider {
    position: fixed;
    height: 100%;
    z-index: 1000;
  }
  .ant-layout-sider-zero-width-trigger {
    top: 0px;
  }

  .header-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  .balance-wrapper {
    margin: 2px !important;
  }
  .ant-btn {
    padding: 5px !important;
  }
}
